.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body::-webkit-scrollbar{
  display: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.active{
  background-color: #F59E0B;
  color: white;
  border-radius: 50px 50px 50px 50px; 
  box-shadow: 0 0 10px #00000074;
}
.active:hover{
  background-color: #F59E0B;
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loadGif{
  width: 125px;
  height: 125px;
  background: url("./Assets/Load1\ \(4\).gif") ;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  transform: scale(2.5);
  /* animation: out 6s infinite linear ; */

}
textarea{
  resize: none;
  box-shadow: 0 0 10px #000;
}
.msgs::-webkit-scrollbar{
  display: none;
}
.sent{
  float: right;
  clear: both;
  flex-direction: row;
  justify-content: flex-end;
}
.recieve{
  float: left;
  clear: both;
  justify-content: flex-end;
  /* background: #000; */
  flex-direction: row-reverse;
}
.recieve .recieve-bg{
  background: #0353ff;
  color: white;
}
@keyframes out {
  0%{
    transform: rotate(0deg);
  }
  /* 50%{
    transform: rotate(180deg);
  } */
  100%{
    transform: rotate(360deg);

  }
}

.bg-black-opa{
  /* background: #000000be; */
  background: radial-gradient(#000000d0,#020202c8);
  
}
.bgs{
  box-shadow: 0 0 70px 30px #b855ff;
  animation: out 2.5s infinite linear ;
  /* animation-iteration-count: 1; */
  transition: all 3s  ease-in;

}
.bg-mobile{
  background: url("./Assets/7.gif");
  background-size: cover;
}
.bg-laptop{
  background: url("./Assets/3\ .gif");
  background-size: cover;
}

.gl{
  box-shadow: 0 0 7px #0000004a;
}
.mbp{
  border-radius: 60px;
}
.chatbg{
  background: url("./Assets/chatbg.webp");
  background-size: cover;
}
.chatbggif{
  background: url("./Assets/5\ .gif");
  background-size: cover;

}

.closeSidebar{
  top: 0;
  animation: close 1s linear ;
  animation-iteration-count: initial;
  transition: all .5s linear;
}
.showSidebar {
  top: 100%;
  position: absolute;
  z-index: -2;
  animation: open 1s   linear ;
  animation-iteration-count: initial;
  transition: all .5s linear;
  display: none;
}
.showSidebar .zoom{
  transition: all .5s linear;
  animation: zoom 1s   linear ;
  animation-iteration-count: initial;
  transition: all .5s linear;
}

.showSidebar .zoom:nth-child(1){
  animation-delay: .5s;
}
.showSidebar .zoom:nth-child(2){
  animation-delay: .6s;
}
.showSidebar .zoom:nth-child(3){
  animation-delay: .7s;
}
.showSidebar .zoom:nth-child(4){
  animation-delay: .8s;
}
.showSidebar .zoom:nth-child(5){
  animation-delay: .9s;
}
.showSidebar .zoom:nth-child(6){
  animation-delay: .10s;
}

@keyframes close {
  0%{
    top: -100%;
  }
  100%{
    top: 0;

  }
}
@keyframes open {
  0%{
    top: 0;
  }
  100%{
    top: -100%;
  }
}
@keyframes zoom {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
.infa-move{
  animation: move 1.3s   infinite  linear;
}
@keyframes move {
  0%{
    transform:  translateX(0%);
  }
  50%{
    transform:  translateX(10%);
  }
  100%{
    transform:  translateX(0%);
  }
}
.faq{
  position: relative;
  /* height: 10rem; */
  max-height: max-content;

  transition: all 1s linear;
  animation: expend 1s  linear;
  animation-iteration-count: initial;
}
.default-height{
  height: 3.5rem;
  border-bottom: 1px solid #ffffff65;
  animation: expendreverse 1s  linear;
}
@keyframes expend {
  0%{
    height: 3.5rem;
  }50%{
    height: calc(120%-50%);
  }100%{
    max-height: max-content;
  }
}
.faq .a .b .btn{
  transform: rotate(180deg);
}
.default-height .a .b .btn{
  transform: rotate(0);
}
.faq .a .b {
  background-color: #b855ff;
}
.default-height .a .b {
  /* background-color: initial; */
}



@keyframes expendreverse {
  0%{
    max-height: max-content;
  }50%{
    height: calc(120%-50%);
  }100%{
    height: 3.5rem;

  }
}
.ts{
  text-shadow: 0 0 10px #000000cc;
}
.sb{
  box-shadow: 0 0 90px 4px #07e2e2;
  border-bottom: 2px solid #00757538;
}
/* .photo{
  background: url("./Assets/user.png");
} */